{% extends "base.html" %}

{% block content %}
<h1>Posts</h1>

<script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>



<script type="text/babel">
var posts = "{{posts}}"
posts = posts.replace('[','').replace(']','').replace(/{u&#39;post&#39;: u&#34;/g,'').replace(/{u&#39;post&#39;: u&#39;/g,'').replace(/&#34;}/g, '').replace(/&#39;}/g,'').replace(/&#39;/g, "'").replace(/&#34;/g, '"').split(", ");
var emotions = "{{emotions}}"
emotions = emotions.replace('[','').replace(']','').replace(/{u&#39;emotion&#39;: u&#39;/g,'').replace(/&#39;}/g,'').split(', ')

var postTable = React.createClass({
        render: function() {
          return (
                <tbody>
                {posts.map(function(post, index){
                    return (<tr>
                      <td>{post}</td>
                      <td>{emotions[index]}</td>
                      <td><form method="post" action="{{url_for('.delete_post')}}">
                      <input name="old_post" value={post} hidden/>
                      <input name="old_emotion" value={emotions[index]} hidden/>
                      <input className="btn btn-primary" type="submit" value="Delete Post"/>
                      </form>
                      </td>
                      </tr>);
                  })}
                </tbody>
            )
        }
      });

      ReactDOM.render(
        React.createElement(postTable),
        document.getElementById('content')
      );

</script>

<table id="content" class="table"></table>

<h2>Add Post</h2>

{% with messages = get_flashed_messages(category_filter=["create_post_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}

<form class='form-inline' method='post' action="{{url_for('.create_post')}}">
    <input class='form-control' type='text' name='new_post' placeholder='Add Post'/>
    <select class='form-control' name='new_emotion'>
        <option value="Sanguine">Sanguine</option>
        <option value="Choleric">Choleric</option>
        <option value="Melancholic">Melancholic</option>
        <option value="Phlegmatic">Phlegmatic</option>
    </select>
    <input class='btn btn-primary' type='submit' />
</form>
{% endblock %}
